/train_sample_videos/
/X.pickle
/y.pickle
/efficientnetb7.h5
/visiontransformer-copy.ipynb
/efficientnetb7_hist.pkl
/effnet_for_vit.h5
/vit_hist.pkl
/vit.h5
/X_encoded.pickle
/xception_for_vit.h5
/xception_hist.pkl
/xception-vit_hist.pkl
/xception-vit.h5
/xception.h5
/y_encoded.pickle
/test/
/train/